<p>
<a href="add.php">Write new</a>
</p>

<?php foreach( $data["datas"] as $data ){ ?>
<table border=1 cellpadding=8 cellspacing=0>
  <tr>
    <td>
    	<?php print $s->html( $data["title"] ); ?>&nbsp;
    	<a href="edit.php?id=<?php print $data["id"]; ?>">Edit</a>&nbsp;
    	<a href="del.php?id=<?php print $data["id"]; ?>">Del</a>
    </td>
  </tr>
  <tr>
    <td><?php print str_replace( "\n", "<br>", $s->html( $data["body"] ) ); ?></td>
  </tr>
  <tr>
    <td><?php print $c->common->InitTime( $data["modified"] ); ?></td>
  </tr>
</table>
<br>
<?php } ?>
